{ns zengram.api.methods
 import #{zengram.api
          zengram.types}

 template
 {:zen/tags #{zengram.api/method zen/schema}
  :type     zen/map
  :require  #{}
  :keys     {:test1 {:type zen/string}
             :test2 {:type zen/integer}
             :test3 {:type zen/boolean}}}}