{ns zengram.api
 import #{zengram.api.edit
          zengram.api.games
          zengram.api.inline
          zengram.api.methods
          zengram.api.passport
          zengram.api.payments
          zengram.api.stickers
          zengram.api.updates}

 message_id-and-chat_id-or-inline_message_id-schema
 {:zen/tags #{zen/schema}
  :type     zen/case
  :case     [{:when {:match {:inline_message_id (:zen.match/nil?)}}
              :then {:type    zen/map
                     :require #{:chat_id :message_id}}}
             {:when {}
              :then {:type    zen/map
                     :require #{:inline_message_id}}}]}

 ids-common-fields-schema
 {:zen/tags #{zen/schema}
  :confirms #{message_id-and-chat_id-or-inline_message_id-schema}
  :type     zen/map
  :keys     {:chat_id           {:confirms #{zengram.api/chat-id}}
             :message_id        {:type zen/integer}
             :inline_message_id {:type zen/string}}}

 chat-id
 {:zen/tags #{zen/schema}
  :type     zen/case
  :case     [{:when {:type zen/string}
              :then {:type zen/string}}
             {:when {:type zen/integer}
              :then {:type zen/integer}}]}

 method
 {:zen/tags #{zen/tag}}}